<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Ecommerce</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include partials/script.ejs %>
  </head>
  <body>
    <h1>HELOOOO ANGGA</h1>
  </body>
</html>


